*{
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html{
  height: 100vh;
}

body{
  margin:0;
  height: 100vh;
  width: 100%;
}

h1,h2,h3,h4,h5{
  margin:0;
}

:root{
  --clr-very-dark-gray : hsl(0, 0%, 17%);
  --clr-dark-gray : hsl(0, 0%, 59%);

  --border-radius : 12px;
  --box-shadow : 0 0 7px 5px rgba(0,0,0,.2)
}

.color-dark-gray{
  color:var(--clr-very-dark-gray)
}

.color-gray{
  color: var(--clr-dark-gray);
}

.color-white{
  color: white;
}


.leaflet-container{
  position: absolute;
  top:100%;
  transform: translateY(-100%);
  margin: 0;
  width: 100%;
  height: 60vh;
  z-index: 1;
}


.foreground-container{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  padding: 25px;
}


@media (min-width:1440px){
  .foreground-container{
    padding-top: 40px;
    gap: 40px;
  }

  .leaflet-container{
    height: 68vh;
  }
}


