.search-component{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% , 600px);
    height: 3.6rem;
}

input{
    cursor: pointer;
    text-indent: 1.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--clr-very-dark-gray);
    border: none;
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 2;
}

input:focus{
    outline: none;
}

input,
.search-button{
    height:100%;    
}


.search-button{
    cursor: pointer;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 1;
    width: 19%;
    border: none;    
    background-color: black;
    transition: all .15s ease-in-out;
}

.search-button:hover .search-button-arrow{
    animation: arrow-animation .5s linear   alternate;

}

.search-button:hover{
    background-color: var(--clr-very-dark-gray);
}



